<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head('Home')}"/>
<body onload="onLoad()">
<div th:replace="~{base :: logo}"/>
<div class="container" id="ofertas">
    <div th:replace="~{base :: menu-tab}"/>
    <div th:replace="~{base :: titulo('Faça sua oferta')}"/>
    <div v-for="pedido in pedidos.content" class="card mb-3">
        <div class="card-header alert-warning">{{pedido.name}}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-8 mb-4">

                    <div>Produto:
                        <a v-bind:href="pedido.urlDoProduto" target="_blank">{{pedido.name}}</a>
                    </div>
                    <div>Descição</div>
                    <div>
                        <textarea disabled="disabled" class="form-control">{{pedido.descricao}}</textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-5">Valor:
                            <input class="form-control" type="number" step="0.01" name="valueProduct" id="valueProduct" v-model="pedido.valorNegociado">
                        </div>
                        <div class="col-md-7">Data da entrega:
                            <input class="form-control" type="text" name="dataEntrega" id="dataEntrega" v-model="pedido.dataDaEntrega">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="comentario">Comentário</label>
                        <textarea class="form-control" id="comentario" v-model="pedido.comentario"></textarea>
                    </div>
                    <button v-if="pedido.ofertaEnviada" class="btn btn-success">Oferta Enviada</button>
                    <button v-else v-on:click="enviarOferta(pedido)" class="btn btn-outline-primary">Enviar Oferta</button>
                </div>
                <div class="col-12 col-sm-4">
                    <div>
                        <img v-bind:src="pedido.urlDaImagem" class="img-thumbnail"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" >
                <a class="page-link">Previous</a>
            </li>
            <li v-for="page in pageable" class="page-item">
                <a class="page-link" v-on:click="changePage(page, $event)">{{page}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
<script>
    function onLoad() {
        var app = new Vue({
            el: '#ofertas',
            data: {
                pedidos: []
            },
            mounted() {
                axios
                    .get('http://localhost:8081/api/pedidos/aguardando')
                    .then(response => {
                        response.data.content.forEach(ped => ped.ofertaEnviada = false);
                        this.pedidos = response.data;
                    })
            },
            methods: {
                changePage: function (page, event) {
                    event.preventDefault();
                    axios
                        .get(`http://localhost:8081/api/pedidos/aguardando?page=${page - 1}`)
                        .then(response => this.pedidos = response.data);
                    this.Disabled();
                },
                enviarOferta: function (pedido){
                    axios
                        .post(`http://localhost:8081/api/ofertas`, {
                            pedidoId: pedido.id,
                            valor: pedido.valorNegociado,
                            dataDaEntrega: pedido.dataDaEntrega,
                            comentario: pedido.comentario
                        })
                        .then(resp => pedido.ofertaEnviada = true);
                }
            },
            computed: {
                pageable: function () {
                    let pages = new Array();
                    for (let i = 1; i <= this.pedidos.totalPages; i++) {
                        pages.push(i);
                    }
                    return pages;
                }
            }
        });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>